@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *)); 

@theme {
  --font-sans: "Nunito Sans", sans-serif;
  --color-primary: #072344;
  --color-secondary: #00aaa1;
  --color-grey-shade: #eff0f3;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-primary: #eaf4ff;
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}
